---
layout: default
title: Blog of the Machine Learning and Optimisation (MALEO) Group at Paderborn University
pagination:
  enabled: true
---

<div id="news">
  <h1>MALEO Blog</h1>
  <div class="separator"></div>

  {% for post in paginator.posts %}
  <article>
  	<h2>{{ post.title }}</h2>
  	{% assign staff_member = site.staff_members | where: 'identifier', post.author | first %}
  	{% if staff_member %}
  	<p class="posted_by"><b>Posted by <a href="{{ staff_member.url | absolute_url }}">{{ staff_member.name }}</a> on {{ post.date | date: "%-d %B %Y" }}</b>
    <span class="hot_of_the_press">hot of the press</span></p>
  	{% endif %}
  	{{ post.excerpt }}
    <a href="{{ post.url | absolute_url }}" class="read_more">Read more </a>
  </article>
  {% endfor %}

  <!-- Pagination links -->
  <section class="pagination">
  {% if paginator.total_pages > 1 %}
  <ul>
    {% if paginator.previous_page %}
    <li class="previous_page">
      <a href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next_page">
      <a href="{{ paginator.next_page_path | absolute_url }}">Older</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
  </section>
</div>
