---
layout: default
title: Research foci of the Machine Learning and Optimisation (MALEO) Group at Paderborn University
---

<h1>Research at the MALEO Group</h1>
<div class="separator"></div>

<div id="quick_access"></div>

<article>
<blockquote>
<p>The world is multi-objective ...</p>
</blockquote>

<p><b>The MALEO group was established in October 2023 at the University of Paderborn. We have diverse research foci within the general research domain of Trustworthy Artificial Intelligence and extensive national and international collaborations.</b></p>

<p>Our research addresses real-world problems characterised by various complexities that pose challenges for traditional optimisation algorithms. These include stochasticity, noise, and dynamism, and many problems exhibit a black-box nature, where the objective function is unknown, and information is gathered solely through evaluation. To address these challenges, we employ Randomised Search Heuristics, with a particular emphasis on nature-inspired Evolutionary Computation methods. Our goal is to approximate solutions and comprehensively understand the strengths and weaknesses of these algorithms, conducting both empirical assessments and theoretical analyses through time complexity analysis.</p>

<p>One of the hardest challenges are problems involving the systematic and simultaneous optimization of multiple conflicting objectives. Recognizing the inherent difficulty of solving Multi-Objective Optimization problems exactly, we leverage optimization techniques from evolutionary computation to approximate optimal compromises. Our special focus is on multi-modality, adding depth to our exploration of these multifaceted challenges.</p>

<p>In the realm of Algorithm Benchmarking, our group assesses the performance of nature-inspired techniques and contributes to algorithm design from empirical and theoretical perspectives. Automated Algorithm Selection and Configuration, key facets of our work, involve the automated identification and/or configuration of the best-suited algorithm for a given problem. For this, we e.g. employ Exploratory Landscape Analysis (ELA), where problem properties are matched to known algorithms' performance. Artificial Intelligence and Machine Learning techniques, particularly Deep Learning and Classification approaches, play a pivotal role in constructing accurate and efficient selection models. Collaborating closely with the <a href="https://www.coseal.net" class="external" title="Website of the COSEAL research group">Configuration and Selection of Algorithms</a> (COSEAL) research group, our team focuses on vehicle routing and continuous black-box optimization.
Furthermore, our group delves into the realms of Data Stream Mining and Computational Social Sciences. In collaboration with the <a href="https://www.wi.uni-muenster.de/de/institut/csssa" class="external" title="External website of the research group Computational Social Science and Systems Analysis at Münster University">University of Münster</a>, and within the <a href="https://sma.ercis.org" class="external" title="External website of the Social Media Competence Center at the ERCIS">Social Media Competence Center of the European Research Center for Information Systems</a> (ERCIS) we actively engage in the detection of propaganda and disinformation campaigns in online media, showcasing our commitment to cutting-edge research in these emerging fields.</p>

<p>For even more in-depth information scan <a href={{ "/publications.html" | absolute_url }} class="internal">our publications</a>.</p>

<ul>
    <li>Multi-Objective Optimisation</li>
    <li>Randomised Search Heuristics (RSH), in particular Evolutionary Algorithms</li>
    <li>Artificial Intelligence (AI) and Machine Learning</li>
    <li>Automated AI (AutoAI), in particular Automated Algorithm-Selection and -Configuration</li>
    <li>Data Stream Mining</li>
    <li>Data Science</li>
    <li>Computational Social Science</li>
</ul>
</article>

<article>
<h2>Ongoing Projects and Collaboration</h2>
<div class="separator"></div>

{% assign runningprojects = site.projects | where: "status", "running" %}
{% for project in runningprojects %}
<article>
    <h3>{{ project.name }}</h3>
    {{ project.content | markdownify }}
    {% if project.external_url %}
    <a href="{{ project.external_url }}" class="external read_more" title="External project website">Read more</a>
    {% endif %}
</article>
{% endfor %}

</article>

<article>
<h2>Past Projects</h2>
<div class="separator"></div>

{% assign finishedprojects = site.projects | where: "status", "finished" %}
{% for project in finishedprojects %}
<article>
    <h3>{{ project.name }}</h3>
    {{ project.content | markdownify }}
    {% if project.external_url %}
    <a href="{{ project.external_url }}" class="external read_more" title="External project website">Read more</a>
    {% endif %}
</article>
{% endfor %}

</article>

<article>
<h2>Networks &amp; Memberships</h2>
<div class="separator"></div>

<ul>
    <li><a href="https://www.acm.org/" class="external" title="External website of the ACM">Association for Computing Machinery</a> (ACM)</li>
    <li><a href="https://sites.google.com/view/benchmarking-network/" class="external" title="External website of the Benchmarking Network">Benchmarking Network</a></li>
    <li><a href="https://claire-ai.org/" class="external" title="External website of CLAIRE">Confederation of Laboratories for Artificial Intelligence Research in Europe</a> (CLAIRE)</li>
    <li><a href="https://www.coseal.net" class="external" title="External website of COSEAL">Configuration and Selection of Algorithms</a> (<b>COSEAL</b>)</li>
    <li><a href="https://www.ercis.org/" class="external" title="External website of the ERCIS">European Research Center for Information Systems</a> (ERCIS)</li>
    <li><a href="https://gi.de/" class="external" title="External website of the Gesellschaft für Informatik">Gesellschaft für Informatik</a></li>
    <li><a href="https://www.ieee.org/" class="external" title="External website of the IEEE">Institute of Electrical and Electronics Engineers</a> (IEEE)</li>
    <li><a href="https://www.sicp.de/" class="external" title="External website of SCIP">Software Innovation Campus Paderborn</a> (SICP)</li>
</ul>

</article>
