{% assign selected_ids = include.staff_ids | split: "," %}

<ul class="staff_list">
{% for staff_member in site.staff_members %}
    {% if selected_ids contains staff_member.identifier %}
    <li id="staff_member_{{ staff_member.identifier }}">
        <div>
        <img src="/assets/images/{{ staff_member.identifier }}.jpg" width="15%" />
        </div>
        <div>
        <!--a class="link_button" href="{{ staff_member.url }}" title="Open staff member page">{{ staff_member.academic_title }} {{ staff_member.name }}</a-->
        {% if staff_member.academic_title == "M.Sc." or staff_member.academic_title == "B.Sc." %}
        <h3>{{ staff_member.name }}, {{ staff_member.academic_title }}</h3>
        {% else %}
        <h3>{{ staff_member.academic_title }} {{ staff_member.name }}</h3>
        {% endif %}
        <p>
            <b>Position:</b> {{ staff_member.position }}<br>
            {% if staff_member.phone %}
            <b>Phone:</b> {{ staff_member.phone }}<br>
            {% endif %}
            {% if staff_member.email %}
            <b>E-mail:</b> <a href="mailto:{{ staff_member.email }}?subject=Contact%20via%20MALEO%20website" title="Write an email to {{ staff_member.short_name }}">{{ staff_member.email }}</a>
            {% endif %}
        </p>
    </li>
    {% endif %}
{% endfor %}
</ul>
