:root {
	/* MALEO colors */
	--maleo-violet-dark: rgb(102, 69, 147);
	--maleo-violet-very-dark: rgb(68, 12, 169);
	--maleo-violet-light: rgb(170, 64, 142);
	--maleo-pink: rgb(224, 68, 136);
	--maleo-violet-reduced: rgb(38, 60, 145);
	--black: #000;
	--white: #fff;
}

// INVERTED (header violet, content white)
$content-main-font-color: var(--black) !default;
$content-background-color: var(--white) !default;
$content-highlight-color: var(--maleo-violet-light) !default;

$content-link-color: rgba(0, 0, 0, 0.75);
$content-link-hover-color: rgba(0, 0, 0, 0.85);

$header-main-font-color: var(--white) !default;
$header-background-color: var(--maleo-violet-dark) !default;

$tooltip-box-color: var(--maleo-violet-very-dark) !default;
$tooltip-box-font-color: var(--white) !default;

$highlight-box-background-color: var(--maleo-violet-dark) !default;
$highlight-box-font-color: var(--white) !default;

$nav-link-color: #fff;
$nav-link-hover-color: rgba(255, 255, 255, 0.8);
$nav-link-hover-background-color: rgba(38, 60, 145, 0.3);

$separator-color: rgba(0, 0, 0, 0.5);
$citation-font-color: #dfdfdf;
$abbreviation-highlight-color: #dfdfdf;
$image-border-color: #dfdfdf;
$button-color: var(--maleo-violet-light) !default;
$ribbon-background-color: var(--maleo-violet-light);


// DEFAULT
// $content-main-font-color: #cfcfcf;
// $content-background-color: var(--maleo-violet-dark) !default;
// $content-highlight-color: var(--maleo-violet-light) !default;

// $content-link-color: rgba(255, 255, 255, 0.75);
// $content-link-hover-color: rgba(255, 255, 255, 0.85);

// $header-main-font-color: var(--maleo-violet-light) !default;
// $header-background-color: white !default;

// $tooltip-box-color: var(--maleo-violet-very-dark) !default;
// $tooltip-box-font-color: var(--white) !default;

// $highlight-box-background-color: white !default;
// $highlight-box-font-color: var(--maleo-violet-dark) !default;

// $nav-link-color: var(--maleo-violet-light);
// $nav-link-hover-color: var(--maleo-violet-dark);
// $nav-link-hover-background-color: rgba(102, 69, 147, 0.1);

// $separator-color: #cfcfcf;
// $citation-font-color: #ffffff;
// $abbreviation-highlight-color: #ffffff;
// $image-border-color: #ffffff;
// $button-color: var(--maleo-violet-light) !default;

// Note: basic CSS reset is done in _sass/reset.scss

body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.5;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	position: relative;
}

// basic styles
img, picture, video, canvas, svg {
	// display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
	hyphens: auto;
	margin-bottom: 12px;
	padding-bottom: 3px;
}

ul {
	list-style-type: circle;
	list-style-position: outside;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2.2rem;
	line-height: 2.3rem;
}

h3 {
	font-size: 1.8rem;
	line-height: 2rem;
}

p {
	margin: 5px 0 20px 0;
}

#quick_access {
	margin-bottom: 1.5rem;
}

#quick_access ul {
	list-style-type: none;
	margin-left: 0 !important;
}

#quick_access li:before {
	content: '\21AC';
	margin-right: 5px;
	transition: 0.3s;
}

#quick_access li:hover:before {
	content: '\21AC';
	margin-right: 10px;
}

.hot_of_the_press {
	display: inline-block;
	background-color: white;
	border-radius: 3px;
	padding: 1px 5px;
	color: $content-highlight-color;
	font-weight: bold;
	font-size: 0.8rem;
	text-transform: uppercase;
}


.highlight {
	padding: 1rem;
	background: $highlight-box-background-color;
	color: $highlight-box-font-color;
	box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
	margin-bottom: 2rem;
}

.highlight p:last-child {
	margin-bottom: 0;
}

blockquote {
	font-style: italic;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.7rem;
	color: $citation-font-color;
	quotes: "\201C""\201D""\2018""\2019";
	margin-bottom: 25px;
}

blockquote:before {
  color: $citation-font-color;
  content: open-quote;
}

blockquote:after {
  color: $citation-font-color;
  content: close-quote;
}

blockquote p {
	display: inline;
}

b {
	font-weight: bold;
}

i {
	font-style: italic;
}

abbr {
	border-bottom: 1px dotted var(--black);;
	cursor: help;
}

figure {
	text-align: center;
	display: block;
	margin-bottom: 25px;
}

figure img {
	display: block;
	border: 5px solid $image-border-color;
	margin: 0 auto 7px;
}

figure#maleo_bird img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

figure caption {
	margin-top: 6px;
	display: block;
}

.hide {
	display: none;
}

.separator {
	display: block;
	width: 5rem;
	height: 0.25rem;
	background-color: $separator-color;
	margin: 0px 0 35px;
}

.pagination {
	margin-bottom: 1.5rem;
}

.pagination ul {
	list-style-type: none;
	margin-left: 0 !important;
}

.pagination li {
	display: inline;
	margin-right: 1rem;
}

.previous_page:before {
	content: '\21AB';
	padding-left: 5px;
}

.next_page:after {
	content: ' \21AC';
	padding-right: 10px;
}

#logo {
	display: inline-block;
	margin: 0 6px 25px 0 !important;
}

// #logo:hover {
// 	background-color: white;
// }

.ribbon_banner {
   display: block;
   position: fixed;
   top: 50px;
   right: -120px;
   width: 400px;
   height: 50px;
   line-height: 50px;
   text-align: center;
   opacity: 0.7;
   transform: rotate(45deg);
   font-size: 1.5rem;
   font-weight: bold !important;
   color: #fff !important;
   background-color: $ribbon-background-color;
   z-index: 500;
   transition: 0.3s;
}

.ribbon_banner a:link,
.ribbon_banner a:visited,
.ribbon_banner a:active
 {
	text-decoration: none;
	color: $header-main-font-color;
}

.ribbon_banner a:focus,
.ribbon_banner a:hover {
	color: $header-main-font-color;
}

.ribbon_banner:hover {
	opacity: 1;
}

#color_theme_switch {
	display: none;
	// display: block;
	width: 22px;
	height: 22px;
	border-radius: 11px;
	position: fixed;
	top: 1.5rem;
	left: 50%;
	margin-left: -11px;
    text-indent: -9999px;
	overflow: hidden;
	background: linear-gradient(to right, $header-background-color 50%, $content-background-color 50%);
	z-index: 9999;
}

#main_nav ul {
	list-style-type: none;
}

#content a:link,
#content a:visited,
#content a:active {
	color: $content-link-color;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 1px solid $content-link-color;
	transition: 0.3s;
}

#content a:focus,
#content a:hover {
	color: $content-link-hover-color;
	border-bottom: 1px solid $content-link-hover-color;
}

#content a.external:after {
	content: '\21AC';
	padding-left: 5px;
}

a.link_button:link,
a.link_button:visited,
a.link_button:active {
	color: white !important;
	display: inline-block;
	padding: 1px 5px;
	border-radius: 3px;
	border: 0 !important;
	text-decoration: none;
	background-color: $button-color;
	box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
}

a.link_button:focus,
a.link_button:hover {
	// background-color: $maleo-violet-light;
	box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}

#main_nav {
	margin-bottom: 2rem;
}

#menu_icon {
  position: absolute;
  right: 1rem;
  top: 40px;
  z-index: 10000;
  display: none;
}

#menu_icon span {
  border: 2px solid $header-main-font-color;
  width: 30px;
  margin-bottom: 5px;
  display: block;
  -webkit-transition: all .2s;
  transition: all .1s
}

#main_nav a:link,
#main_nav a:visited,
#main_nav a:active {
	font-size: 1.4rem;
	font-weight: normal;
	line-height: 1.5rem;
	color: $nav-link-color;
	text-decoration: none;
	display: inline-block;
	padding: 5px 6px 5px 12px;
	border-right: 3px solid transparent;
	border-bottom: 0;
}

#main_nav a:focus,
#main_nav a:hover,
#main_nav a.active {
	color: $nav-link-hover-color;
	border-right-color: $nav-link-hover-color;
}

#main_nav a.active {
	font-weight: bold;
	background-color: $nav-link-hover-background-color;
}

#main_nav li:not(:last-child) {
	margin-bottom: 1rem;
}

#content #staff {
	list-style-type: none;
	margin-left: 0;
}

#staff li {
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 0;
	position: relative;
	margin-bottom: 30px;
	max-width: 100%;
}

#staff img {
	border-radius: 50%;
	display: block;
	max-width: 200px;
	width: 80%;
	margin-bottom: 12px;
}

#staff_filter {
	margin-bottom: 3rem;
}

article {
	margin-bottom: 3.5rem;
}

#content .bibliography {
	list-style-type: none;
	margin-left: 0;
}

#content .bibliography li {
	margin-bottom: 1rem;
}

input {
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

input[type=search] {
	display: block;
	width: 100%;
	padding: 10px 15px 10px 55px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background: no-repeat 20px 50%/3% url("/assets/images/icons/magnifier.png") transparent;
	border-radius: 0;
	opacity: 0.5;
	box-sizing: border-box;
	color: $content-main-font-color;
	outline: none;
	transition: 0.3s;
}

input[type=search]:focus {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.4);
	outline: none;
}

.container {
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 0;
	position: relative;
	width: 100%;
}

.column {
	padding: 4rem;
	background-color: $content-background-color;
	min-height: 100vh;
}

#sidebar {
	background-color: $header-background-color;
	padding-left: 20%;
	text-align: right;
	position: relative;
	display: block;
}

#sidebar > div {
	position: fixed;
	right: calc(80% + 4rem);
}

#content {
	padding-right: 20%;
	padding-top: 4.1rem;
	color: $content-main-font-color;
}

#content > section {
	max-width: 900px;
}

#content ul,
#content ol {
	margin-left: 1.3rem;
}

#tooltip {
	color: $tooltip-box-font-color;
	font-size: 0.85rem;
	background-color: $tooltip-box-color;
	padding: 0.6rem 1.2rem;
	box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
}

a#upb_logo {
	border-bottom: none !important;
}

@media (max-width: 1500px) {
	// no distance anymore
	#sidebar {
		padding: 4rem;
	}

	#content {
		padding-right: 4rem;
	}
}

@media (max-width: 1024px) {
	.column {
		min-height: 10px; // small dummy value
	}

	.container {
		grid-template-columns: 1fr;
	}

	.ribbon_banner {
		display: none;
	}

	#sidebar {
		position: fixed;
		height: 100px;
		width: 100%;
		padding: 18px 0 0 1rem;
		margin: 0;
		z-index: 1000;
		// overflow: hidden;
		text-align: left;
		box-shadow: 0px 5px 0px 	rgba(0, 0, 0, 0.3);
	}

	#sidebar > div {
		position: static;
	}

	#content {
		padding: 140px 1rem 3rem;
	}

	#content > section {
		max-width: none;
	}

	#sidebar nav {
		display: none;
		width: 40%;
		margin-left: 60%;
		margin-top: -20px;
		text-align: right;
		padding: 1rem;
		background: white;
	}

	#menu_icon {
		display: block;
      	cursor: pointer
  	}

  	#menu_icon.active .first {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin-top: 10px
    }

    #menu_icon.active .second {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        position: relative;
        top: -9px;
    }

    #menu_icon.active .third {
        display: none
    }

    #staff {
    	text-align: center;
    }

    #staff li {
    	display: block;
    }

    #staff img {
    	margin: 1rem auto;
    }
}
